%% -*- mode: erlang -*-

{erl_opts, [debug_info, fail_on_warning]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{deps, [{ux, ".*", {git, "https://github.com/erlang-unicode/ux.git", "master"}},
        {proper_stdlib, ".*",
         {git, "https://github.com/spawngrid/proper_stdlib.git", "master"}},
        {proper, ".*",
         {git, "https://github.com/manopapad/proper.git", {tag, "v1.0"}}}]}.
